:root {
  --primary: #1818b1;
  --primary-dark: #11117a;
}

.App {
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-left: .5rem;
}

header {
  margin: 3rem 0;
}

h1 {
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

.App-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 768px) {
  .App-body {
    flex-direction: row;
    flex-wrap: nowrap
  }
}